<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contactez-nous</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body{
            position : fixed;
            display : fixed;
        }
        h6{
            color : rgb(0, 0, 0);
        }
        .ci{
            border: 0;
                transition: 0.25s;
                cursor: pointer;
        }
    </style>
</head>
<body>
    <blockquote>
        <ul>
            <li>
                <div class="ci">
                    <h3>Contactez-nous:</h3>
                        <h4> <a href="tel:+224624366064"> <i class="fas fa-phone"></i> +224624366064 </a> </h4>
                        <h4><a href="mailto:alhassangsdiallo@gmail.com"><i class="fas fa-envelope"></i> alhassangsdiallo@gmail.com</a></h4>
                        <h4><a href="https://wa.me/224624366064?text=Bonjour%20!"><i class="fab fa-whatsapp"></i> +224624366064</a> </h4>
                </div>
            </li>
        </ul>
    </blockquote>
    <div>
        <h5>Merci de nous avoir contacter !</h5>
    </div>
</body>
</html>